body{
    margin: 0; 
font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #8263fd;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

header h1{
    margin: 0;
    margin-bottom: 22px;
    color: white;
}
header p{
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 22px;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 50px 0px;
}
.box{
    padding: 30px 48px;
    width: 600px;
    font-size: 15px;
    float: left;
    box-sizing: border-box;
}
h2{
    font-size: 25px;
    color: #8263fd;
    font-weight: 600;
}
p{
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #5f5f5f;
}
.box img{
    max-width: 100%;
}
.content img{
    width: 40px;
}
.contant img {
    width: 370px;
}
.link{
    
background-color: #8263fd;
    
color: white;
    
font-size: 15px;
    
text-decoration: none;
    
padding: 15px 35px;
    
display: inline-block;
    
border-radius: 30px;
    
margin-top: 15px;
}